<div class="col d-flex flex-column h-sm-100 bg-light bloquecuerpo">
  <div class="minusMargin boxt-cont borderRadius w-95mb container">
    <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
      <ol class="breadcrumb font13">
        <li class="breadcrumb-item"><a href="home.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Billetera</li>
      </ol>
    </nav>
    <div class="my-2">
      <div class="row justify-content-md-center">
        <div class="col-md-4">
          <div class="cardW shadow-sm mb-2 bg-light borderRadius w-100">
            <span
              class="titleWallet w-100 d-block bg-success text-white p-2 lh-1 text-center"
            >
              <h2 class=" h6 m-0 p-0">Reconocimientos</h2>
            </span>
            <div class="d-flex align-items-center">
              <div class="p-3">
                <p class="m-0 p-0"><strong>50</strong></p>
                <p class="small m-0 p-0">Pts</p>
              </div>
              <div class="ms-auto me-4">
                <a href="redime.html"
                  ><i class="mdi mdi-chevron-double-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cardW shadow-sm mb-2 bg-light borderRadius w-100">
            <span
              class="titleWallet w-100 d-block bg-warning text-white p-2 lh-1 text-center"
            >
              <h2 class="h6 m-0 p-0">Premios</h2>
            </span>
            <div class="d-flex align-items-center">
              <div class="p-3">
                <p class="m-0 p-0"><strong>4</strong></p>
                <p class="small m-0 p-0">Premios</p>
              </div>
              <div class="ms-auto me-4">
                <a href="redime.html"
                  ><i class="mdi mdi-chevron-double-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cardW shadow-sm mb-2 bg-light borderRadius w-100">
            <span
              class="titleWallet w-100 d-block bg-info text-white p-2 lh-1 text-center"
            >
              <h2 class=" h6 m-0 p-0">Beneficios</h2>
            </span>
            <div class="d-flex align-items-center">
              <div class="p-3">
                <p class="m-0 p-0"><strong>$50,000</strong></p>
                <p class="small m-0 p-0">Lorem Ipsum</p>
              </div>
              <div class="ms-auto me-4">
                <a routerLink="/incluir-beneficios"
                  ><i class="mdi mdi-chevron-double-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive mt-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Tipo</th>
              <th scope="col">Monto</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>22/07/2022</td>
              <td><a href="/">Premio</a></td>
              <td>Televisor</td>
              <td>1</td>
              <td>
                <strong> Redimido </strong>
              </td>
            </tr>
            <tr>
              <td>22/07/2022</td>
              <td><a href="/">Reconocimientos</a></td>
              <td>Puntos</td>
              <td>10 pts</td>
              <td>
                <strong> Redimido </strong>
              </td>
            </tr>
            <tr>
              <td>22/07/2022</td>
              <td><a href="/">Beneficios</a></td>
              <td></td>
              <td>10 pts</td>
              <td>
                <strong> Redimido </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
