<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between text-white px-3 bg-header">
    <a href="home.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 col-auto text-decoration-none" >
      <img src="assets/img/logo.svg" class="img-fluid logo">
    </a>
    <div class="py-sm-2 my-sm-auto ms-auto ms-sm-0 flex-shrink-1">
      <a href="/" class="d-flex align-items-center text-white text-decoration-none ">
        <img src="assets/img/avatar.webp" alt="perfil" width="28" height="28" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1">{{ user?.first_name }}</span>
      </a>
    </div>
  </header>