<!-- <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start text-white text-center">
    <ul class="nav flex-sm-column flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 align-items-sm-start m-0 bg-white listLat m-0 p-0 pt-3 Small shadow" style="border:1px red solid; "id="menu">
      <li class="w-100 m-0"  tabindex="0" data-toggle="tooltip" title="Home">
        <a routerLink="/dashboard" class="w-100 px-3 py-4 d-block active" >
          <i class="mdi mdi-home-variant-outline"></i>
        </a>
      </li>
      <li class="w-100 m-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Reconocimiento">
        <a class="w-100 p-3   d-block" href="#" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal2" >
          <i class="mdi mdi-medal-outline"></i>
        </a>
      </li>
      <li class="w-100 m-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Billetera">
        <a class="w-100 p-3 d-block" routerLink="/mi-billetera">
          <i class="mdi mdi-cash-multiple"></i>
        </a>
      </li>
      <li class="w-100 m-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Beneficios y Premios ">
        <a class="w-100 p-3 d-block" href="redime.html">
          <i class="mdi mdi-basket-outline"></i>
        </a>
      </li>
      <li class="w-100 m-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Alertas">
        <a class="w-100 p-3 d-block" href="#">
          <i class="mdi mdi-bell-outline"></i>
        </a>
      </li>
    </ul>
  </div>  -->


  <div class="col-12 col-md-1 px-0 d-flex sticky-top">
    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start text-white text-center">
      <ul class="nav flex-sm-column flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 align-items-sm-start m-0 bg-white listLat m-0 p-0 pt-3 Small shadow" id="menu">
        <li class="w-100 m-0"  tabindex="0" data-toggle="tooltip" title="Home">
          <a routerLink="/dashboard"  class="w-100 px-4 py-4 d-block active">
            <i class="mdi mdi-home-variant-outline"></i>
          </a>
        </li>
        <li class="w-100 m-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Reconocimiento">
          <a class="w-100 px-3 py-4 d-block" href="#" type="button"  data-bs-toggle="modal" data-bs-target="#modalRecognition">
            <i class="mdi mdi-medal-outline"></i>
          </a>
        </li>
        <li class="w-100 m-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Billetera">
          <a class="w-100 px-3 py-4 d-block" routerLink="/mi-billetera">
            <i class="mdi mdi-cash-multiple"></i>
          </a>
        </li>
        <li class="w-100 m-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Beneficios y Premios">
          <a class="w-100 px-3 py-4 d-block" href="redime.html">
            <i class="mdi mdi-basket-outline"></i>
          </a>
        </li>
        <li class="w-100 m-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Alertas">
          <a class="w-100 px-3 py-4 d-block" href="#">
            <i class="mdi mdi-bell-outline"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>